@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background: #b655f3;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track{
    background: #f5f5f50e;
  }
  

  .banner {
    min-height: 100vh;
    background-image: url("https://pixner.net/aikeu/assets/images/banner/banner-one-bg.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
  }

.sideBaranimationRightToleft{
  transition: all;
  animation: rightToleft 500ms ease-in-out ;
}

@keyframes rightToleft{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}

.sideBaranimationLeftToRight{
  transition: all;
  animation: leftToRight 500ms ease-in-out;
}
@keyframes leftToRight{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}
.textComingAnimation{
  transition: all;
  animation: comingText 400ms ease-in-out;
}
@keyframes comingText{
  0%{
   display:none;
  }
  100%{
   display: none;
  }
}
.animationNavebar{
  transition: all;
  animation: upToDown 500ms ease-in-out;
}
@keyframes upToDown{
  0%{
    top: 0px;
  }
  50%{
    top: -80px;
  }
  100%{
    top: 0px;
  }
}
